
p{
    color: white;
}
img{
  max-width: 100%;
    width: 550px;
    height: 200px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.card{
    border-radius: 16px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(235, 67, 67, 0.8);
    transition: 0.3s;
}
