<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 p-3">
            <img src="assets/youtube.png" width="80">
            <span class="ms-2">Youtube</span>
        </div>

        <div class="col-md-4 p-4 text-center nav-links">
            <a class="me-3" href="">Home</a>
            <a class="me-3" href="">About</a>
            <a href="">Contact</a>
        </div>

        <div class="col-md-4 p-3 text-end">
            <img src="assets/user.png" class="rounded-circle" width="40">
            <span class="ms-3">Shashank Varshney</span>
        </div>
    </div>
</div>